*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header, footer {
    background-color: #292826;
}

nav {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0px;
}

h1 {
    color: rgb(209, 209, 209);
    font-size: 18px;
    margin-right: auto;
}

h2, a {
    color: rgb(209, 209, 209);
    font-size: 14px;
    display: block;
    margin-right: 15px;
}

nav select, button {
    background-color: #F9D341;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
    color: #292826;
    display: block;
    cursor: pointer;
    width: 100px;
    -webkit-transition: .4s;
    transition: .4s;
}

body {
    background-color: rgb(209, 209, 209);
}

select:hover, button:hover {
    background-color: rgb(243, 224, 147);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.sliders {
    -webkit-appearance: none;
    border-radius: 5px;
    appearance: none;
    width: 10%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 30px;
}

.sliders:hover {
    opacity: 1;
}
  
.sliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #F9D342;
    border-radius: 50%;
    cursor: pointer;
}
  
.sliders::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #F9D342;
    cursor: pointer;
}

.sliders#speed {
    transform: scale(-1);
}

.bar {
    width: 10px;
    background-color: #3b3a38;
    position: relative;
    display: block;
    margin: 3px;
    color: rgb(209, 209, 209);
    font-size: 0px;
    text-align: center;
}

.bar#tbd {
    background-color: red;
}

.bar#current {
    background-color: blue;
}

.bar#done {
    background-color: rgb(5, 151, 5);
}

.canvas {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .dev {
    margin: 8px;
    text-decoration: none;
}

footer .rep {
    text-decoration: none;
}

.link:hover {
    color: #F9D341;
}